<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一米市集</title>
    <link type="text/css" href="__STATIC__/index/css/header-footer.css" rel="stylesheet">
    <link type="text/css" href="__STATIC__/index/css/index.css" rel="stylesheet">
</head>
<body>
{:widget('Shop/header')}
<section>
    <div class="wrap-main">
        <!--轮播栏-->
        <div class="Carousel">
            <img src="__STATIC__/index/image/1da8489a55e713787047b56a58b3e20e-w1440.jpg">
        </div>
        <!--推荐商品-->
        <div class="content products-introtuce">
            <div class="products-introtuce-block">
                <img src="__STATIC__/index/image/b0f1a4788450b5245ba5edf00c685fc9.jpg">
                <p><a  class="a-1" href="">蓝莓新鲜上市</a></p>
                <div class="arti">安心又美味的新鲜蓝莓到货了！遵照GAP「良好农业规范」生态种植，不打药不催熟，采茶工人戴手套采摘，清水冲冲就可食。</div>
            </div>
            <div class="products-introtuce-block">
                <img src="__STATIC__/index/image/26436fae973d9eab96276fc4dffb8b6b.jpg">
                <p><a class="a-1" href="">优惠专区</a></p>
                <div class="arti">在这个优惠自选区里，有很多好的食材值得一试，只要经过简单的处理，就可以享受到美食的味道。</div>
            </div>
            <div class="products-introtuce-block">
                <img src="__STATIC__/index/image/0f8c84134baf3c392a790b2785650976.jpg">
                <p><a class="a-1" href="">南汇8424上市</a></p>
                <div class="arti">真正的上海南汇原产地种植的黑籽8424西瓜，每只约重4-5kg，自然成熟，内里红瓤，皮薄质脆，汁多甘甜，口感极佳。</div>
            </div>
            <div class="products-introtuce-block">
                <img src="__STATIC__/index/image/dec724a4c8a7c79f546db5ae66b1d8d8.jpg">
                <p><a class="a-1" href="">蓝莓新鲜上市</a></p>
                <div class="arti">安心又美味的新鲜蓝莓到货了！遵照GAP「良好农业规范」生态种植，不打药不催熟，采茶工人戴手套采摘，清水冲冲就可食。</div>
            </div>
        </div>
        <!--热购商品-->
        <div class="content hot-products">
            <div class="test list-first ">
                <div class="title-pic">
                    <img src="__STATIC__/index/image/cc3d7c316d02aaadb775524173b9f431.jpg" alt="">
                </div>
                <div class="list-first-product">
                    <div class="rank">1</div>
                    <div class="list-first-product-pic">
                        <img class="pic" src="__STATIC__/index/image/afd3a46fd8c0e2b67f3cfa5530d86a74-h320.jpg" alt="">
                    </div>
                    <h3 class="products-name">
                        <a href="">放养横沙岛主牛腩块</a>
                    </h3>
                </div>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <div class="list-product">
                            <div class="rank">2</div>
                            <div class="product-pic">
                                <a href="">
                                <img class="pic" src="__STATIC__/index/image/ef6dc15909217e354b14bb68389cb089-h250.jpg" alt="">
                                </a>
                                <img class="tag-icon" src="__STATIC__/index/image/f4c83b0e1f25aed76cbc9d48874316a9.png" alt="">
                            </div>
                            <h3 class="products-name"><a href="">有机夏黑葡萄</a></h3>
                            <div class="product-info">
                                <a class="des">心心</a>
                                <div class="num-unit">500/盒</div>
                            </div>
                            <div class="product-price">
                                <span >￥34.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="rank">3</div>
                                <div class="product-pic">
                                    <a href="">
                                        <img class="pic" src="__STATIC__/index/image/6b32fb96702547cb7e2f24f5c7485457-h250.jpg" alt="">
                                    </a>
                                    <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                                </div>
                            <div class="products-name"><a href="">生态慢养膳博士黑猪肋排</a></div>
                            <div class="product-info">
                                <a class="des">膳博士</a>
                                <div class="num-unit">300g/份</div>
                            </div>
                            <div class="product-price">
                                <span >￥46.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="rank">4</div>
                            <div class="product-pic">
                                <a href="">
                                <img class="pic" src="__STATIC__/index/image/426645060993e98d6792de065c52911d-h250.jpg" alt="">
                                </a>
                                <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                            </div>
                            <h3 class="products-name"><a href="">有机儿童馒头5份</a></h3>
                            <div class="product-info">
                                <a class="des">九州丰园</a>
                                <div class="num-unit">260g/份*5</div>
                            </div>
                            <div class="product-price">
                                <span >￥65.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="rank">5</div>
                            <a href="">
                                <div class="product-pic">
                                    <a href="">
                                    <img class="pic" src="__STATIC__/index/image/a8e0288a58da8f4d3ecb758163a54767-h250.jpg" alt="">
                                    </a>
                                    <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                                </div>
                            </a>
                            <div class="products-name"><a href="">原味山楂条*6份</a></div>
                            <div class="product-info">
                                <a class="des">日尝食食</a>
                                <div class="num-unit">200g/份*6</div>
                            </div>
                            <div class="product-price">
                                <span >￥48.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="rank">6</div>
                            <div class="product-pic">
                                <a href="">
                                <img class="pic" src="__STATIC__/index/image/cb474520bc23db0a0a5502d5c828adad-h250.jpg" alt="">
                                </a>
                                <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                            </div>
                            <h3 class="products-name"><a href="">缸鸭狗原味米馒头2包</a></h3>
                            <div class="product-info">
                                <a class="des">缸鸭狗</a>
                                <div class="num-unit">350g/包*2</div>
                            </div>
                            <div class="product-price">
                                <span >￥30.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="rank">7</div>
                            <a href="">
                                <div class="product-pic">
                                    <a href="">
                                    <img class="pic" src="__STATIC__/index/image/70dff333b1844283c2d6c3ae24a408df-h250.jpg" alt="">
                                    </a>
                                    <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                                </div>
                            </a>
                            <div class="products-name"><a href="">苹果脆片 酸甜吃得到苹果</a></div>
                            <div class="product-info">
                                <a class="des">日尝食食</a>
                                <div class="num-unit">25g/份*6</div>
                            </div>
                            <div class="product-price">
                                <span >￥58.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="rank">8</div>
                            <div class="product-pic">
                                <a href="">
                                <img class="pic" src="__STATIC__/index/image/3f8f35c38e6a46d5a4f70a88befdaca1-h250.jpg" alt="">
                                </a>
                                <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                            </div>
                            <h3 class="products-name"><a href="">零农残特级百香果6只</a></h3>
                            <div class="product-info">
                                <a class="des">香果人家</a>
                                <div class="num-unit">500g/份</div>
                            </div>
                            <div class="product-price">
                                <span >￥16.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="rank">9</div>
                            <a href="">
                                <div class="product-pic">
                                    <a href="">
                                    <img class="pic" src="__STATIC__/index/image/2642264b7b3a66d3b78e4db906cddd9b-h250.jpg" alt="">
                                    </a>
                                    <img class="tag-icon" src="__STATIC__/index/image/49279fd881e4308636db790d58b2dc6e.png" alt="">
                                </div>
                            </a>
                            <div class="products-name"><a href="">沙拉瓶子 绿3瓶红3瓶</a></div>
                            <div class="product-info">
                                <a class="des">沙拉瓶子</a>
                                <div class="num-unit">220ml/瓶*6</div>
                            </div>
                            <div class="product-price">
                                <span >￥90.00</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--新到尖货-->
        <div class="content product-nav">
            <div class="wrap-left">
                <img class="pic" src="__STATIC__/index/image/cd7c122a07a202fe36a92fcfa7b03ef5.jpg" alt="">
                <a href="">更多新到尖货 >></a>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <div class="list-product">
                            <div class="product-pic">
                                <a href="">
                                    <img class="pic" src="{}" alt="">
                                </a>
                                <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                            </div>
                            <div class="products-name"><a href="">生态慢养膳博士黑猪肋排</a></div>
                            <div class="product-info">
                                <a class="des">膳博士</a>
                                <div class="num-unit">300g/份</div>
                            </div>
                            <div class="product-price">
                                <span >￥46.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="product-pic">
                                <a href="">
                                    <img class="pic" src="__STATIC__/index/image/ef6dc15909217e354b14bb68389cb089-h250.jpg" alt="">
                                </a>
                                <img class="tag-icon" src="__STATIC__/index/image/f4c83b0e1f25aed76cbc9d48874316a9.png" alt="">
                            </div>
                            <h3 class="products-name"><a href="">有机夏黑葡萄</a></h3>
                            <div class="product-info">
                                <a class="des">心心</a>
                                <div class="num-unit">500/盒</div>
                            </div>
                            <div class="product-price">
                                <span >￥34.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="product-pic">
                                <a href="">
                                    <img class="pic" src="__STATIC__/index/image/426645060993e98d6792de065c52911d-h250.jpg" alt="">
                                </a>
                                <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                            </div>
                            <h3 class="products-name"><a href="">有机儿童馒头5份</a></h3>
                            <div class="product-info">
                                <a class="des">九州丰园</a>
                                <div class="num-unit">260g/份*5</div>
                            </div>
                            <div class="product-price">
                                <span >￥65.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <a href="">
                                <div class="product-pic">
                                    <a href="">
                                        <img class="pic" src="__STATIC__/index/image/a8e0288a58da8f4d3ecb758163a54767-h250.jpg" alt="">
                                    </a>
                                    <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                                </div>
                            </a>
                            <div class="products-name"><a href="">原味山楂条*6份</a></div>
                            <div class="product-info">
                                <a class="des">日尝食食</a>
                                <div class="num-unit">200g/份*6</div>
                            </div>
                            <div class="product-price">
                                <span >￥48.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="product-pic">
                                <a href="">
                                    <img class="pic" src="__STATIC__/index/image/cb474520bc23db0a0a5502d5c828adad-h250.jpg" alt="">
                                </a>
                                <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                            </div>
                            <h3 class="products-name"><a href="">缸鸭狗原味米馒头2包</a></h3>
                            <div class="product-info">
                                <a class="des">缸鸭狗</a>
                                <div class="num-unit">350g/包*2</div>
                            </div>
                            <div class="product-price">
                                <span >￥30.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <a href="">
                                <div class="product-pic">
                                    <a href="">
                                        <img class="pic" src="__STATIC__/index/image/70dff333b1844283c2d6c3ae24a408df-h250.jpg" alt="">
                                    </a>
                                    <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                                </div>
                            </a>
                            <div class="products-name"><a href="">苹果脆片 酸甜吃得到苹果</a></div>
                            <div class="product-info">
                                <a class="des">日尝食食</a>
                                <div class="num-unit">25g/份*6</div>
                            </div>
                            <div class="product-price">
                                <span >￥58.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <div class="product-pic">
                                <a href="">
                                    <img class="pic" src="__STATIC__/index/image/3f8f35c38e6a46d5a4f70a88befdaca1-h250.jpg" alt="">
                                </a>
                                <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                            </div>
                            <h3 class="products-name"><a href="">零农残特级百香果6只</a></h3>
                            <div class="product-info">
                                <a class="des">香果人家</a>
                                <div class="num-unit">500g/份</div>
                            </div>
                            <div class="product-price">
                                <span >￥16.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-product">
                            <a href="">
                                <div class="product-pic">
                                    <a href="">
                                        <img class="pic" src="__STATIC__/index/image/2642264b7b3a66d3b78e4db906cddd9b-h250.jpg" alt="">
                                    </a>
                                    <img class="tag-icon" src="__STATIC__/index/image/49279fd881e4308636db790d58b2dc6e.png" alt="">
                                </div>
                            </a>
                            <div class="products-name"><a href="">沙拉瓶子 绿3瓶红3瓶</a></div>
                            <div class="product-info">
                                <a class="des">沙拉瓶子</a>
                                <div class="num-unit">220ml/瓶*6</div>
                            </div>
                            <div class="product-price">
                                <span >￥90.00</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--做个选择-->
        <div class="container">
            <div class="bg-pic"></div>
            <div class="title-pic">
                <img  class="pic" src="__STATIC__/index/image/9a3154785efcd8c3a7bc97fcd8d9604f.jpg" alt="">
            </div>
            <div class="introduce-arti">
                每一口放进嘴里的食物，从哪里来、如何耕种与饲养、如何采摘与包装等都会影响生态环境的可持续性。一米市集倡导有意念的吃，希望每个人都能关心食物的来历，在进食之前，想一想这些食物从产地搬到餐桌的一路上经历了什么，然后做个选择。
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav-list">
                                <div class="nav-list-icon" style="background-image:url(https://img.yimishiji.com/v1/img/a1ef2ca3d68e0c4ec2bc71dc9c2d7581.jpg)"></div>
                                <p>可持续发展</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--厨房格言-->
        <div class="content kit">
            <div class="title-pic">
                <img src="__STATIC__/index/image/4b7e2ed986c3d29a069330779acf801c.jpg" alt="">
            </div>
            <div class="wrap-mid">
                <img src="__STATIC__/index/image/ec3bfe534268a5e35a043c4e9ace5fe8.jpg" alt="">
                <div class="wrap-mid-title">✈三文鱼冰鲜出击</div>
                <div class="wrap-mid-text"><p class="a-2">鲜艳的橙色，厚身的质地，层层叠叠的纹理，即使是静静地躺在浅浅的瓷盘里，三文鱼也发出诱惑的光芒，在喜爱它的人眼中，钻石切面的光辉也不过如此；用筷子夹起一块放入口中，鱼的极鮮美味也大抵如此。
                    <a href="">阅读更多...</a></p></div>
                <div class="products-menu">
                    <div class="list-product">
                        <ul>
                            <li>
                                <div class="list-product">
                                    <div class="product-pic">
                                        <a href="">
                                            <img class="pic" src="__STATIC__/index/image/6b32fb96702547cb7e2f24f5c7485457-h250.jpg" alt="">
                                        </a>
                                        <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                                    </div>
                                    <div class="products-name"><a href="">生态慢养膳博士黑猪肋排</a></div>
                                    <div class="product-info">
                                        <a class="des">膳博士</a>
                                        <div class="num-unit">300g/份</div>
                                    </div>
                                    <div class="product-price">
                                        <span >￥46.00</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-product">
                                    <div class="product-pic">
                                        <a href="">
                                            <img class="pic" src="__STATIC__/index/image/ef6dc15909217e354b14bb68389cb089-h250.jpg" alt="">
                                        </a>
                                        <img class="tag-icon" src="__STATIC__/index/image/f4c83b0e1f25aed76cbc9d48874316a9.png" alt="">
                                    </div>
                                    <h3 class="products-name"><a href="">有机夏黑葡萄</a></h3>
                                    <div class="product-info">
                                        <a class="des">心心</a>
                                        <div class="num-unit">500/盒</div>
                                    </div>
                                    <div class="product-price">
                                        <span >￥34.00</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-product">
                                    <div class="product-pic">
                                        <a href="">
                                            <img class="pic" src="__STATIC__/index/image/426645060993e98d6792de065c52911d-h250.jpg" alt="">
                                        </a>
                                        <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                                    </div>
                                    <h3 class="products-name"><a href="">有机儿童馒头5份</a></h3>
                                    <div class="product-info">
                                        <a class="des">九州丰园</a>
                                        <div class="num-unit">260g/份*5</div>
                                    </div>
                                    <div class="product-price">
                                        <span >￥65.00</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-product">
                                    <a href="">
                                        <div class="product-pic">
                                            <a href="">
                                                <img class="pic" src="__STATIC__/index/image/a8e0288a58da8f4d3ecb758163a54767-h250.jpg" alt="">
                                            </a>
                                            <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                                        </div>
                                    </a>
                                    <div class="products-name"><a href="">原味山楂条*6份</a></div>
                                    <div class="product-info">
                                        <a class="des">日尝食食</a>
                                        <div class="num-unit">200g/份*6</div>
                                    </div>
                                    <div class="product-price">
                                        <span >￥48.00</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-product">
                                    <div class="product-pic">
                                        <a href="">
                                            <img class="pic" src="__STATIC__/index/image/cb474520bc23db0a0a5502d5c828adad-h250.jpg" alt="">
                                        </a>
                                        <img class="tag-icon" src="__STATIC__/index/image/5e7f3aebb506e635d53a731aecfe7636.png" alt="">
                                    </div>
                                    <h3 class="products-name"><a href="">缸鸭狗原味米馒头2包</a></h3>
                                    <div class="product-info">
                                        <a class="des">缸鸭狗</a>
                                        <div class="num-unit">350g/包*2</div>
                                    </div>
                                    <div class="product-price">
                                        <span >￥30.00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-right">
                <div class="nav-tab">
                    <img class="pic" src="__STATIC__/index/image/47394e9f7762e73dd7f4016c28028b99.jpg" alt="">
                    <p>夏日凉菜</p>
                </div>
                <div class="nav-tab">
                <img class="pic" src="__STATIC__/index/image/47394e9f7762e73dd7f4016c28028b99.jpg" alt="">
                <p>夏日凉菜</p>
            </div>
                <div class="nav-tab">
                    <img class="pic" src="__STATIC__/index/image/47394e9f7762e73dd7f4016c28028b99.jpg" alt="">
                    <p>夏日凉菜</p>
                </div>
            </div>
        </div>
        <div class="content fd-rem">
            <div class="title-pic">
                <img src="__STATIC__/index/image/4b7e2ed986c3d29a069330779acf801c.jpg" alt="">
            </div>
            <div class="panel-left">
                <a href="">
                    <img class="pic" src="__STATIC__/index/image/05729befef5ff0ff44246d1022bba710.jpg" alt="">
                </a>
                <div class="title"><a  class="a-1" href="">食物潮流</a></div>
                <p class="a-2 a-3">过去几年发生的多起食安危机、历史古都拒绝麦当劳进驻的抗议事件、3D打样餐点的出现，慢慢地在人们的心里发酵，新进而来的思潮在食物体系里掀起了一阵旋风。</p>
            </div>
            <div class="panel-right">
                <div class="panel-block">
                    <a href="">
                        <img class="pic" src="__STATIC__/index/image/b51f9475b3f93d845a6448d8e7b3ac1e.jpg" alt="">
                    </a>
                    <div class="title"><a  class="a-1" href="">我们真的需要感谢这只小虫</a></div>
                    <p class="a-2 a-3">没错，是蜜蜂。感谢它，不仅是因为它酿出的蜂蜜，也不仅因为它天生勤劳的品性，而是因为它无与伦比的重要性。是感恩，也是警醒，因为这只小虫深陷困境，而它们的困境也会成为人类的困境。</p>
                </div>
                <div class="panel-block">
                    <a href="">
                        <img class="pic" src="__STATIC__/index/image/b76c4bc4689d2bc873fd56bd9fd0f04d.jpg" alt="">
                    </a>
                    <div class="title"><a  class="a-1" href="">我们为什么决定下架蓝鳍金枪鱼？</a></div>
                    <p class="a-2 a-3">10月14日，一米市集上架蓝鳍金枪鱼；11月6日，用户建议一米市集下架蓝鳍金枪鱼；11月11日，一米市集下架蓝鳍金枪鱼。</p>
                </div>

            </div>
        </div>
    </div>
    <a class="kefu" href=""></a>
</section>
{:widget('Shop/footer')}
</body>
</html>