<div class="ym_hd">
    <div class="bar"></div>
    <div class="ym_hd_main">
        <a href="https://www.yimishiji.com/">
            <div class="ym_hd_logo"></div>
        </a>
        <div class="ym_hd_menu">
            <a href="https://www.yimishiji.com/products.html"> <div class="ym_hd_menu_ele">所有商品</div></a>
            <a href=""><div class="ym_hd_menu_ele">好事发生</div></a>
            <a href=""><div class="ym_hd_menu_ele">吃的主张</div></a>
            <div class="ym_hd_serch">
                <input type="text" placeholder="搜索你喜欢的" value="8324">
                <button class="serch-btn"></button>
            </div>
            <div class="ym_hd_account">
                <a href="{:url('Login/index')}"><div class="ym_hd_account_icon"></div></a>
            </div>
            <div class="ym_hd_cart">
                <a href=""><div class="ym_hd_cart_icon"></div></a>
            </div>
        </div>
    </div>
</div>